@import url(custom.css);
@import url(common.css);

/* caremain */
.mainSection {
  background-repeat: no-repeat !important;
}
.stableMainImg {
  width: 440px;
  aspect-ratio: 1/0.8;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.left li {
  font-weight: 500;
}

.Firstmain{
  background-image: url(../images/bg-blog.png);
  background-size: 100% 125% !important;
  background-position: bottom;
  padding-top: 3rem !important;
  margin-top: 66px !important;
  padding-bottom: 17rem !important;
}
.Secmain {
    background:transparent !important ;
  padding-bottom: 8rem !important;
}
.Thirdmain {
  background-size: 100% 120% !important;
  background-image: url(../images/community-bg.png);
  padding-top: 10rem !important;
  padding-bottom: 7rem !important;
  background-position: bottom;
}
.Firstmain .right {
  display: grid;
  height: 100%;
  padding: 30px 0;
  padding-top: 10px;
  place-items: center;
  flex-grow: 1;
  background-image: url(../images/book.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.Thirdmain .right{
    
  padding: 30px 0;
  padding-top: 10px;
    background-image: url(../images/book.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.Firstmain .right .jobmaleimg {
  position: absolute;
  transform: translate(-208%, 30%);
  -moz-transform: translate(-126%, 53%);
  width: 120px;
}
.Firstmain .right .laptopmaleimg {
  position: absolute;
  transform: translate(150%, 21%);
  -moz-transform: translate(187%, 42%);
  width: 100px;
}
.Secmain .right .contactimg {
  position: absolute;
  transform: translate(-66%, 70%);
  width: 133px;
}
.Secmain .right .communicationimg {
  transform: translate(-242%, 158%) rotateY(180deg);
  position: absolute;
  width: 200px;
}
.Thirdmain .right .vectorimg {
  position: absolute;
  transform: translate(-69%, 62%);
}
.Thirdmain .btns {
    margin-top: 6rem ;
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    align-items: center;
}
.Thirdmain .btns a{
    margin-top: 10px ;
}
@media screen and (max-width:500px) {
    .Thirdmain .btns {
        margin-top: 2rem;
    }
    .Thirdmain .btns a{
        width: 200px !important;
    }
    
}
@media screen and (max-width:300px) {
    .Thirdmain .btns a{
        width: 95% !important;
    }
}
/* main slider  */
.main-slider {
  position: relative;
}
.main-slider::before {
  content: "";
  position: absolute;
  right: 0;
  background: #eff3ff !important;
  height: 320px;
  right: 0;
  bottom: -2px;
  width: 100%;
  z-index: -1;
}

.main-slider::after {
  content: "";
  position: absolute;
  right: 0;
  background: #eff3ff;
  height: 320px;
  right: 0;
  top: -2px;
  width: 100%;
  z-index: -1;
}
