@import url(custom.css);
@import url(common.css);

/* below css will apply in both privacy-policy and terms-conditions page  */
.privacymain , .termsmain , .missionmain{
  background-image: url(../images/aboutbg.png);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  margin-top: 66px !important;
  padding-top: 3rem;
  padding-bottom: 13rem !important;
}
.missionmain{
  padding-top: 4rem !important;
  background-size: 100% 130%;
}
.privacymainSection .right, .termsmainSection .right , .missionmain .right {
  display: grid;
  height: 100%;
  padding: 60px 0;
  padding-top: 10px;
  place-items: center;
  flex-grow: 1;
  background-image: url(../images/book.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.missionmain .right{
  background-image: none !important;
  padding: 20px 0 !important;
}
.discussionimg  , .chessimg{
  width: 440px;
  aspect-ratio: 1/0.8;
  border-radius: 10px;
}
.mainInner .right .jobmaleimg {
  position: absolute;
  transform: translate(-208%, 30%);
  -moz-transform: translate(-126%, 53%);
  width: 120px;
}
.mainInner .right .laptopmaleimg {
  position: absolute;
  transform: translate(150%, 21%);
  -moz-transform: translate(187%, 42%);
  width: 100px;
}
.policies .container , .terms .container {
  padding-bottom: 60px;
}
.wrapper {
  margin: 15px 0;
  background: var(--lighter);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.wrapper .title {
  line-height: 46px;
  padding:  5px 15px ;
  border-bottom: 2px solid #fff;
}
.wrapper .title span {
  display: inline-block;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  color: var(--darkblue);
}
.wrapper .info {
  padding: 15px;
}
.wrapper .info p {
  color: var(--light-white);
  margin: 0;
  font-size: 14px;
  text-align: justify !important;
}
